---
import Layout from '../layouts/Layout.astro';
import FileUploader from '../components/FileUploader';
---

<Layout>
  <main>
    <FileUploader client:load />
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    padding: 20px;
  }
</style>
